export MKCERT=true

# ENV/ENVIRONMENT: suffix used to target different configs and determines secrets behavior
export ENVIRONMENT=dev

# PROJECT: the suffix name of your configuration file, typically your site name
export PROJECT=example

# Standard environment varibles, you probably won't need to change
export DEBIAN_FRONTEND=non-interactive
export TZ=Etc/UTC
export EOTK_HOME=/opt/eotk

# renovate: datasource=github-tags depName=torproject/tor versioning=loose extractVersion=^tor-(?<version>.*)$
export TOR_VERSION=0.4.7.12
# renovate: datasource=github-tags depName=openresty/openresty versioning=loose
export OPENRESTY_VERSION=v1.21.4.1
# renovate: datasource=github-tags depName=openssl/openssl extractVersion=OpenSSL_(?<major>.+)_(?<minor>.+)_(?<patch>.+)(?<build>.+)
export OPENSSL_VERSION=1.1.1s
# renovate: datasource=github-releases depName=phuslu/nginx-ssl-fingerprint
export NGINX_SSL_FINGERPRINT_VERSION=v0.3.0
# renovate: datasource=github-tags depName=FiloSottile/mkcert
export MKCERT_VERSION=v1.4.4
