*.cert
*.conf
*.crt
*.key
*.log
*.pem
*.tconf
*config.yaml

__*
*~
?
.DS_Store

!demo.d/*.tconf

opt.d/*
!opt.d/build*.sh
!opt.d/install*.sh
!opt.d/Dockerfile

mirrors.d/
onionbalance.d/
projects.d/
secrets.d/

eotk-init.sh
eotk-housekeeping.sh
