# Generate a Diffe-Hellman secret for nginx using the following commands:
#
# $ openssl dhparam -out dhparams.pem <key size>
#
# Where the "key size" can be 2048 bits (good for dev, generates fast) or 
# 4096 for prod (and will take a while to generate)
